body {
	background-color: black;
}

a {
	color: inherit; 
	text-decoration: underline;	
	background-image: url("link.gif");
	background-size: 100% 100%;
	color: transparent;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

@font-face {
    font-family: iosevka;
    src: url(iosevka.ttf);
}

p {
	color: white;
    font-family: iosevka;
	-webkit-user-select: none; /* DRM! /r */     
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-text-size-adjust: 300%; /*Nylo page: dafuck*/
	font-size: 1em;
}

::-webkit-scrollbar { 
    display: none; 
}

#home {
	position: fixed; 
	bottom: 40px; 
	right: 70px;
}