p {
	position: absolute;
	transition: color 0.7s;
}

@keyframes example {
    from {top: 85%;}
    to {top: 90%;}
}

div {
	position: fixed;
    width: 100%;
    height: 100%;
}

#scroll {
	position: absolute; 
	left: 50%; 
	top: 90%;
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count: infinite;
}
